<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="./assets/favicon.png"
    />
    <title>NLW Spacetime</title>

    <link
      rel="stylesheet"
      href="style.css"
    />
  </head>
  <body>
    <div>
      <small>20 de março de 2020</small>
      <h1>Jornada do Zero à Primeira Vaga</h1>
      <img
        src="./assets/jornada.png"
        alt="Rodrigo e Mayk apresentando o evento de no Jornada do Zero à Primeira Vaga"
      />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit beatae, architecto amet repudiandae at
        itaque nisi, minima iure ex, fugiat aperiam cumque. Est numquam illum vero, magni eius sint at. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Qui sint corporis, soluta sunt praesentium
        laboriosam commodi officiis corrupti cupiditate deserunt vitae sit quasi eligendi, necessitatibus cum
        libero nulla. Aliquid, ab?
      </p>
    </div>
  </body>
</html>
